# Cluster configuration
elasticsearch.cluster.name = localhost
elasticsearch.cluster.port = 8008

# ElasticSearch client
elasticsearch.path.home = /Users/ebarsallo/Code/purdue.edu/699-research/truenodb/trueno/lib/core/binaries/elasticsearch/bin
elasticsearch.path.config = /Users/ebarsallo/Code/purdue.edu/699-research/truenodb/trueno/lib/core/binaries/elasticsearch/config