#*********************************************************
# Node Configuration Options
#*********************************************************

# The address at which the client can reach the server
node.host=localhost
# The port number used to listen request by the server
node.port=8007
# The network interface used for accepting request
# To accept non-local connections uncomment this line:
node.listen_address=0.0.0.0

#*********************************************************
# Cluster Configuration Options
#*********************************************************

# The name of the cluster, default is trueno
cluster.name=trueno
